* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(#535353, #141414,#000000);
    color: white;
}

nav{
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    width: 100%;
}

nav li{
    display: inline;
    font-weight: 600px;
    padding-right: 10px;

}

nav a{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 80%; 
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    color: white;
    font-size: 40px;
    margin: 6em 0 0;
    line-height: 1.35;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.titulo{
    position: absolute;
    font-size: 56px;
    margin: 24px 0;
    line-height: 1.35;
}

.typing{
    animation: blinkCursor 500ms steps(40) infinite normal,
               typing 4s steps(40) 1s normal both;
}

li{
    list-style: none;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 17em;
    }
}

@keyframes blinkCursor{
    from{
        border-radius-color: white;
    }
    to{
        border-radius-color: transparent;
    }
}

.titulo-principal{
    text-align: center;
    font-size: 40px;
    margin: 2em 0 0;
    clear: left;
    color: white;
}

.conteudo-sobre{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rosi{
    width: 120px;
    float: left;
    margin: 0 20px 0 20px;
    border-radius: 32%;
    margin-top: 1rem;
}

.sobre-mim{
    text-align: center;
    font-size: 20px;
    margin: 2em 0 0;
    color: white;
    width: 50%;
    font-weight: 500;
}

.carreira{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 5em;
}

.linguagens{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 4em 0 1em;
}
.skills{
	width: 500px;
	margin: 60px auto;
	color: #fff;
    text-align: center;
}

.skills li{
	margin: 20px 0;
}

.bar{
	background-color: #353b48;
	display: block;
	height: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #2187e7b3;
}

.bar span{ 
	height: 2px;
	float: left;
	background-color: #2187e7;
}

.html{ 
	width: 80%;
	animation: html 2s;
}

.css{
	width: 70%;
	animation: css 2s;
}

.javascript{ 
	width: 50%;
	animation: javascript 2s;
}

.mysql{ 
	width: 50%;
	animation: mysql 2s;
}

.php{
    width: 30%;
	animation: mysql 2s;
}


@keyframes html{ 
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes css{ 
	0%{
		width: 0%;
	}

	100%{
		width: 93%;
	}
}

@keyframes javascript{ 
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}

@keyframes jquery{
	0%{
		width: 0%;
	}

	100%{
		width: 30%;
	}
}
.ferramentas{
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 3em 1rem 3em;
    border-radius: 30%;
}

.figuras{
    align-items: center;
    font-size: 100px;
    
}

.figuras img{
    width: 70px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 4px  #2187e7b3;

}

.tragetoria{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 2em 0 1em;
}

.formacao{
    display: inline;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
}

.formacao img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.estudos {
    display: flex;
    justify-content: center;
    align-items: start;
}

.trabalhos{
    padding: 3em 0em;
    width: 940px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.trabalhos-conteudo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.trabalhos img{
    float: right;
    width: 40%;
    height: 40%;
    margin: 0 20px 0 0 ;
    opacity: 1;
    transition: 500ms;
    box-shadow: 7px 7px 7px  #2187e7b3;
}

#projetos h2{
    text-align: center;
}

.trabalhos img{
    opacity: 0.8;
    border-radius: 10px;
    box-sizing: border-box;
    border: 7px outset rgb(17, 16, 16);
}

.trabalhos h2{
    text-align: center;
    font-size: 2em;
    margin: 0 0 2em;
    clear: left;
}

.trabalhos p{
    margin: 0 0 1em;
}

.certificacao{
    text-align: center;
    color: white;
    margin: 3em 1rem 10em;
}  

footer{
    text-align: center;
     padding: 40px 0;
}

@media screen and (max-width:769px) {
    .banner, .sobre, .skills, .ferramentas, .carreiras, .estudos, .projetos, .trabalhos,
    .carreira, .certicacao, .trajetoria, .contatos {
        width: 100%;
    }

    .banner{
        display: flex;
    }

    h1{
        text-align: center;
    }

    p{
        text-align: cent;
    }

    .banner h1{
        font-size: 20px;
        margin: 1em 0 0;
    }

    .sobre-mim{
        width: 90%;
    }

    .trabalhos img{
        width: 380px;
        padding-bottom: 20px;
        margin-left: 15px;
    }
    .trabalhos p{
        margin: 1em;
    }

    .trabalhos-conteudo{
        flex-direction: column;
    }
    h3{
        text-align: center;
    }
}